<div id="content">
    <h3> General info </h3>
    <p> This is a simple site for students to share their experiences on campus. </p>
    <p> Feel free to post whatever you like, but be aware we have unpaid moderators sitting through and deleting inappropriate posts (for free). </p>
    <hr>
    <h3> On getting an account </h3>
    <p> The only way to register an account is to get an accesscode from an administrator. </p>
    <p> This is set up so that we can be relatively sure that people aren't robots and to keep the site strictly for students only. </p>
    <p> Once you have a code, simply head to the <a href="login">register page</a>. </p>
    <p> All posts remain publically viewable though, so avoid posting too much personal information. If you want feedback from someone without an account, just write your email in your post and they may contact you there. </p>
    <hr>
    <p> If you have any suggestions send me an email. My address is obama @ gmail.com </p>
</div>

